<textarea><%= content_block.get('data') %></textarea>

<div class="actions">
  <div class="buttons row-fluid">
    <button class="cancel btn" type="button">Cancel</button>
    <button class="save btn btn-primary" type="button">Save</button>
  </div>
</div>