<!DOCTYPE html>
<html>
<head>
  <title>Compartment</title>
  <%= stylesheet_link_tag    "compartment/application", :media => "all" %>
  <%= javascript_include_tag "compartment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
